**Problema**: Encontrar min, max, count y mean de la edad por sexo y escolaridad

In [1]:
#Importamos pandas para trabajar nuestro ejercicio
import pandas as pd
pd.set_option("display.max_columns",200)

Llamamos las primeras tablas que nos ayudarán posteriormente a entender la base de datos

In [2]:
sexo = pd.read_csv("desexo.csv")
ocupacion = pd.read_csv("deocupa.csv")
escolaridad = pd.read_csv("deesco.csv")
edad = pd.read_csv("deedad.csv")

Visualizamos estas tablas para ver la relación

In [3]:
sexo

   CVE               DESCRIP
0    1               Hombres
1    2               Mujeres
2    9  Sexo no especificado

In [4]:
edad

      CVE                          DESCRIP
0    1001  Una hora
1    1002  Dos horas
2    1003  Tres horas
3    1004  Cuatro horas
4    1005  Cinco horas
..    ...                              ...
183  4117  Ciento diecisiete años
184  4118  Ciento dieciocho años
185  4119  Ciento diecinueve años
186  4120  Ciento veinte años
187  4998  Edad en años no especificada

[188 rows x 2 columns]

In [5]:
escolaridad

    CVE                                 DESCRIP
0     1                         Sin escolaridad
1     2                              Preescolar
2     3                     Primaria incompleta
3     4                       Primaria completa
4     5                   Secundaria incompleta
5     6                     Secundaria completa
6     7  Bachillerato o Preparatoria incompleto
7     8    Bachillerato o Preparatoria completo
8     9                             Profesional
9    10                                Posgrado
10   88           No aplica a menores de 3 años
11   99                         No especificado

In [6]:
ocupacion

    CVE                                            DESCRIP
0     1                   Funcionarios, directores y jefes
1     2                          Profesionistas y técnicos
2     3  Trabajadores auxiliares en actividades adminis...
3     4  Comerciantes, empleados en ventas y agentes de...
4     5  Trabajadores en servicios personales y vigilancia
5     6  Trabajadores en actividades agrícolas, ganader...
6     7                           Trabajadores artesanales
7     8  Operadores de maquinaria industrial, ensamblad...
8     9  Trabajadores en actividades elementales y de a...
9    10                                      Busca trabajo
10   11                                         No trabaja
11   97                      No aplica a menores de 5 años
12   98        Ocupaciones insuficientemente especificadas
13   99                          Ocupación no especificada

Dataframe a trabajar:

In [7]:
#Este dataframe contiene los datos muestra de una institución con los registros de apoyo
#de ciertas instituciones o personas
df = pd.read_csv("datos_muestra_1.csv")

/Users/davidortiz/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (2,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
df.head() #Con head() visualizamos los primeros registros del dataframe

,edad,minutos,monto_de_apoyo,horas,ent_regis,mun_regis,ent_resid,mun_resid,ent_ocurr,mun_ocurr,sexo,ocupacion,edo_civil,lugar_ocur,sitio_ocur,nacionalid,grupo,lengua,clave,escolarida,fecha_nac,fecha_ocurr,programa_fondo,nombre_del_proyecto,nombre_del_beneficiario,salario
0,4069,27,NaN,16,1.0,1,1,1,NaN,1,NaN,11,NaN,88,3,1,7,2.0,6343,1,1946-06-30,2015-05-25,Programa Jalisciense de Fomento a la Propieda...,MX - SISTEMA MECATRÓNICO PARA EL CONTROL DE IN...,RICARDO MERCADO CORTÉS\n,2700
1,4093,0,31446.48,6,NaN,1,1,1,NaN,1,1,6,NaN,88,11,1,8,NaN,6344,3,1921-08-25,2015-09-26,Programa Jalisciense de Fomento a la Propieda...,PCT - SISTEMA MECATRÓNICO PARA EL CONTROL DE I...,RICARDO MERCADO CORTÉS\n,0
2,4092,30,65673.63,16,1.0,1,1,1,NaN,1,1,7,NaN,88,11,1,2,NaN,6345,3,1922-06-12,2015-12-14,Programa Jalisciense de Fomento a la Propieda...,MX-EMPAQUE CÓNICO PARA LA CONEXIÓN \nDE MANGUE...,CORPORATIVO BORO S.A. DE C.V.,3000
3,4047,58,"Sistema Tecnológico de Jalisco, A.C.",3,NaN,1,1,1,NaN,1,"Sistema Tecnológico de Jalisco, A.C.",7,NaN,88,9,1,13,1.0,6346,6,1967-08-28,2015-01-03,Programa Jalisciense de Fomento a la Propieda...,MX-PASTA BIODEGRADABLE PARA USOS MÚLTIPLES\n,CORPORATIVO BORO S.A. DE C.V.\n,5800
4,4040,50,30254.04,6,1.0,1,1,1,NaN,1,2,11,NaN,88,1,1,7,NaN,6364,4,1974-12-17,2015-07-16,Programa Jalisciense de Fomento a la Propieda...,DISPOSITIVO PERSONAL DE COMUNICACIÓN REMOTA PA...,GERALDINA VEGA GAMBOA\n,5000

Etiquetado de variables

Para analizar un poco más las variables las etiquetamos de acuerdo a su tipo de variable, ya sea continua, discreta, texto o de tiempo.

In [9]:
c_feats = ["monto_de_apoyo","salario"]
d_feats = ["edad","minutos","horas","ent_regis","mun_regis","ent_resid","mun_resid","ent_ocurr",'mun_ocurr', 'sexo', 'ocupacion',
       'edo_civil','lugar_ocur','sitio_ocur','nacionalidad','grupo','lengua','clave','escolarida']
t_feats = ["fecha_nac",'fecha_ocurr']
s_feats = ['programa_fondo', 'nombre_del_proyecto', 'nombre_del_beneficiario']

c_feats_new = ["c_" + x for x in c_feats]
d_feats_new = ["d_" + x for x in d_feats]
t_feats_new = ["t_" + x for x in t_feats]
s_feats_new = ["s_" + x for x in s_feats]

In [10]:
#Renombramos los nombres de columnas con los nuevos sufijos

df.rename(columns = dict(zip(c_feats, c_feats_new)), inplace = True)
df.rename(columns = dict(zip(d_feats, d_feats_new)), inplace = True)
df.rename(columns = dict(zip(t_feats, t_feats_new)), inplace = True)
df.rename(columns = dict(zip(s_feats, s_feats_new)), inplace = True)

In [11]:
df.columns

Index(['d_edad', 'd_minutos', 'c_monto_de_apoyo', 'd_horas', 'd_ent_regis',
       'd_mun_regis', 'd_ent_resid', 'd_mun_resid', 'd_ent_ocurr',
       'd_mun_ocurr', 'd_sexo', 'd_ocupacion', 'd_edo_civil', 'd_lugar_ocur',
       'd_sitio_ocur', 'nacionalid', 'd_grupo', 'd_lengua', 'd_clave',
       'd_escolarida', 't_fecha_nac', 't_fecha_ocurr', 's_programa_fondo',
       's_nombre_del_proyecto', 's_nombre_del_beneficiario', 'c_salario'],
      dtype='object')

Una de las dimensiones de la calidad de datos es Verificar duplicados, no deben existir duplicados en una base de datos, siempre hay algo que debe diferenciar los registros.

In [12]:
df.duplicated().sum() #Con .duplicated() mostramos los registros que se encuentran duplicados

8

In [13]:
df.drop_duplicates(inplace=True) #Eliminamos duplicados con .drop_duplicates()

In [14]:
df.duplicated().sum()

0

In [15]:
df.reset_index(drop=True,inplace=True) #Reseteamos index para que todo se acomode

In [16]:
df = df.reset_index(drop=True)

In [17]:
df.shape # .shape funciona para que nos muestre una tupla con los registros, columnas actuales

(655333, 26)

In [18]:
df[df.duplicated(subset = 's_nombre_del_proyecto')]

,d_edad,d_minutos,c_monto_de_apoyo,d_horas,d_ent_regis,d_mun_regis,d_ent_resid,d_mun_resid,d_ent_ocurr,d_mun_ocurr,d_sexo,d_ocupacion,d_edo_civil,d_lugar_ocur,d_sitio_ocur,nacionalid,d_grupo,d_lengua,d_clave,d_escolarida,t_fecha_nac,t_fecha_ocurr,s_programa_fondo,s_nombre_del_proyecto,s_nombre_del_beneficiario,c_salario
27,4020,38,12254.04,1,1.0,10,1,1,NaN,1,1,6,NaN,88,11,1,3,NaN,6482,6,1994-02-22,2015-03-18,Programa Jalisciense de Fomento a la Propieda...,MODELO INDUSTRIAL DE MUEBLE\n,BRIAN ALEJANDRO FRANCO CEJA\n,3800
30,4077,15,12254.04,4,1.0,10,1,1,NaN,1,1,5,NaN,88,3,1,3,NaN,6485,4,1937-09-10,2015-04-19,Programa Jalisciense de Fomento a la Propieda...,MODELO INDUSTRIAL DE MUEBLE\n,BRIAN ALEJANDRO FRANCO CEJA,1500
31,4070,20,12254.04,7,NaN,11,1,6,NaN,6,2,11,NaN,88,11,1,7,NaN,6486,3,1944-05-26,2015-08-23,Programa Jalisciense de Fomento a la Propieda...,MODELO INDUSTRIAL DE MUEBLE\n,BRIAN ALEJANDRO FRANCO CEJA\n,2000
32,4080,30,12254.04,11,1.0,11,1,11,NaN,11,1,11,NaN,88,11,1,5,NaN,6487,3,1934-02-18,2015-08-13,Programa Jalisciense de Fomento a la Propieda...,MODELO INDUSTRIAL DE MUEBLE\n,BRIAN ALEJANDRO FRANCO CEJA\n,3000
33,4071,55,Molina Pasquel Y Henriquez,9,NaN,1,1,1,NaN,1,Molina Pasquel Y Henriquez,11,NaN,88,3,1,2,9.0,6488,6,1943-08-03,2015-01-28,Programa Jalisciense de Fomento a la Propieda...,MODELO INDUSTRIAL DE MUEBLE\n,BRIAN ALEJANDRO FRANCO CEJA\n,5500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655328,4043,20,157140.0,0,32.0,56,32,999,NaN,56,2,11,NaN,88,3,2,8,9.0,6683,4,1972-07-01,2015-10-28,"Programa de Desarrollo de Prototipos, 2018",Dispositivo de prototipo de gravedad cero para...,Compañia Power Tools S.A. de C.V.,2000
655329,2009,20,410819.0,8,NaN,9,32,9,NaN,9,1,97,NaN,88,11,1,3,NaN,6685,88,2015-09-30,2015-10-02,"Programa de Desarrollo de Prototipos, 2018",Desarrollo tecnológico de un prototipo de bebi...,Complejo Industrial RM S.A de C.V,2000
655330,3002,0,500000.0,10,32.0,38,32,38,NaN,38,2,97,NaN,8,11,1,16,NaN,6689,88,2015-10-23,2015-10-06,"Programa de Desarrollo de Prototipos, 2018",Piloto de filtración tangencial para purificac...,Microalgas Oleas de México S.A de C.V.,0
655331,4003,10,149000.0,22,NaN,10,32,49,NaN,10,2,97,NaN,88,1,1,9,9.0,6691,99,2012-11-22,2015-12-08,"Programa de Desarrollo de Prototipos, 2018",Máquina tribológica para medir el desgaste en ...,Universidad de Guadalajara,1000
655332,4001,40,150241.0,13,32.0,40,19,6,NaN,7,2,97,NaN,0,10,1,5,NaN,6696,88,2014-10-24,2015-06-04,"Programa de Desarrollo de Prototipos, 2018",Interfaz USB Aislada para Conexión de Instrume...,"Consire, S.A. de C.V.",4000

Limpieza de variables

In [19]:
df.dtypes

d_edad                         int64
d_minutos                      int64
c_monto_de_apoyo              object
d_horas                        int64
d_ent_regis                  float64
d_mun_regis                    int64
d_ent_resid                    int64
d_mun_resid                    int64
d_ent_ocurr                  float64
d_mun_ocurr                    int64
d_sexo                        object
d_ocupacion                    int64
d_edo_civil                  float64
d_lugar_ocur                   int64
d_sitio_ocur                   int64
nacionalid                     int64
d_grupo                        int64
d_lengua                     float64
d_clave                        int64
d_escolarida                   int64
t_fecha_nac                   object
t_fecha_ocurr                 object
s_programa_fondo              object
s_nombre_del_proyecto         object
s_nombre_del_beneficiario     object
c_salario                      int64
dtype: object

In [20]:
import unicodedata
import re

In [21]:
def clean_text(text, pattern="[^a-zA-Z0-9 ]"):
    
    cleaned_text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore')
    cleaned_text = re.sub(pattern, " ", cleaned_text.decode("utf-8"), flags=re.UNICODE)
    cleaned_text = u' '.join(cleaned_text.lower().strip().split())
    return cleaned_text

#Creamos esta función que nos sirve para estandarizar las variables de texto

Limpiar variables de texto con funcion

**.map()**: Permite transformar un iterable completo (en este caso el dataframe) usando otra función

**lambda**: es una pequeña función anonima que toma multiple argumentos pero sólo una expresión. Sintaxis de lambda: *lambda argumento: expresión*

In [22]:
df["s_nombre_del_beneficiario"] = df["s_nombre_del_beneficiario"].map(lambda x:clean_text(x.lower()).replace("\n",""))

In [23]:
df["s_nombre_del_proyecto"] = df["s_nombre_del_proyecto"].map(lambda x:clean_text(x.lower()).strip().replace("\n",""))

In [24]:
df["s_programa_fondo"] = df["s_programa_fondo"].map(lambda x:clean_text(x.lower()).strip().replace("\n",""))

In [25]:
df = df.reset_index(drop=True)

In [26]:
df.shape

(655333, 26)

**Completitud** \
Primero vamos a constuir un dataframe auxiliar el cual nos va a decir la cantidad de completitud que tiene cada variable

In [27]:
comple = pd.DataFrame(df.isnull().sum()) #Creamos un dataframe con pd.DataFrame con el n de nulos

In [28]:
comple.reset_index(inplace=True)

In [29]:
comple = comple.rename(columns={"index":"columna",0:"total"}) #Renombramos columnas

In [30]:
comple["completitud"]=(1-comple["total"]/df.shape[0])*100 #Calculamos %

In [31]:
df.shape

(655333, 26)

In [32]:
df.shape[0]

655333

In [33]:
comple=comple.sort_values(by="completitud",ascending=True) #Ordenamos los valores

In [34]:
comple

                      columna   total  completitud
12                d_edo_civil  655333     0.000000
8                 d_ent_ocurr  655333     0.000000
17                   d_lengua  504169    23.066746
4                 d_ent_regis  196392    70.031724
20                t_fecha_nac   10378    98.416378
21              t_fecha_ocurr     142    99.978332
2            c_monto_de_apoyo       2    99.999695
10                     d_sexo       2    99.999695
23      s_nombre_del_proyecto       0   100.000000
22           s_programa_fondo       0   100.000000
19               d_escolarida       0   100.000000
18                    d_clave       0   100.000000
16                    d_grupo       0   100.000000
15                 nacionalid       0   100.000000
0                      d_edad       0   100.000000
13               d_lugar_ocur       0   100.000000
24  s_nombre_del_beneficiario       0   100.000000
11                d_ocupacion       0   100.000000
9                 d_mun_ocurr       0   100.000000
7                 d_mun_resid       0   100.000000
6                 d_ent_resid       0   100.000000
5                 d_mun_regis       0   100.000000
3                     d_horas       0   100.000000
1                   d_minutos       0   100.000000
14               d_sitio_ocur       0   100.000000
25                  c_salario       0   100.000000

Eliminamos columnas con más del 20% de missings

In [35]:
df.drop(columns = ["d_edo_civil","d_ent_ocurr","d_lengua"], inplace = True)

In [36]:
df.shape

(655333, 23)

Limpieza y estandarización de variables. A continuación vamos a revisar cada una de las variables discretas y revisar en cuales tenemos que hacer limpieza y estandarización

In [37]:
df['d_edad'].value_counts()

4084    14900
4079    14778
4085    14515
4080    14378
4081    14047
        ...
4117        2
4119        2
3098        1
2098        1
4116        1
Name: d_edad, Length: 187, dtype: int64

En SQL el filter se veria algo asi: WHERE col LIKE 'd_%'

In [38]:
#For para filtrar las columnas discretas y encontrar discrepancias 
# .value_counts() sirve para hacer un conteo de los posibles valores de la variable

for col in df.filter(like = "d_").columns:
    print(col)
    display(df[col].value_counts())
    print("\n")

d_edad

4084    14900
4079    14778
4085    14515
4080    14378
4081    14047
        ...
4117        2
4119        2
3098        1
2098        1
4116        1
Name: d_edad, Length: 187, dtype: int64

d_minutos

0     185273
30    123697
15     39830
20     37891
45     37331
       ...
41       925
31       883
29       861
49       852
51       831
Name: d_minutos, Length: 61, dtype: int64

d_horas

18    29716
11    29212
10    29175
17    28998
16    28950
6     28929
12    28871
13    28778
15    28471
14    28199
20    27783
19    27613
9     26973
5     26546
7     26427
8     26071
23    25851
0     25337
1     25220
22    25056
21    24917
4     24278
3     23665
2     22904
99     7393
Name: d_horas, dtype: int64

d_ent_regis

9.0     49636
15.0    48069
30.0    35989
14.0    30749
21.0    24117
11.0    21180
7.0     18222
19.0    17966
16.0    17318
20.0    16722
8.0     15658
12.0    14180
28.0    13293
2.0     12241
26.0    11627
5.0     11260
25.0    10690
13.0    10002
24.0     9969
31.0     9599
27.0     9253
17.0     7817
22.0     6504
32.0     6152
10.0     6027
18.0     4135
29.0     4086
1.0      4036
23.0     3918
6.0      3211
4.0      3137
3.0      2178
Name: d_ent_regis, dtype: int64

d_mun_regis

39     47137
15     35321
10     20906
4      19761
1      18922
       ...
408        1
374        1
244        1
331        1
399        1
Name: d_mun_regis, Length: 556, dtype: int64

d_ent_resid

15    77809
9     59484
30    52339
14    43132
21    34516
11    30170
7     26514
16    25434
19    25087
20    24330
8     22403
12    20628
28    18675
2     17152
26    16503
5     16140
25    15288
13    14595
24    14158
31    13280
27    12665
17    11236
22     9027
10     8924
32     8812
18     6165
29     6110
23     5732
1      5633
4      4714
6      4408
3      3175
33      752
34      210
35      133
Name: d_ent_resid, dtype: int64

d_mun_resid

39     24828
7      20740
5      19987
1      19422
2      18734
       ...
488        2
341        2
518        1
536        1
267        1
Name: d_mun_resid, Length: 569, dtype: int64

d_mun_ocurr

39     37383
7      22374
5      20898
2      20703
1      20130
       ...
536        1
476        1
341        1
328        1
408        1
Name: d_mun_ocurr, Length: 569, dtype: int64

d_sexo

1                                       307728
2                                       249075
1                                        55826
2                                        42376
9                                          253
9                                           65
Sistema Tecnológico de Jalisco, A.C.         2
MARICELA  LOPEZ CEPEDA\n                     2
Molina Pasquel Y Henriquez                   2
SFERP S.C.                                   2
Name: d_sexo, dtype: int64

d_ocupacion

11    347876
6      74536
7      39457
4      32608
97     31072
2      27385
98     27108
99     26934
9      18617
8      14350
5       9454
3       3455
1       2266
10       215
Name: d_ocupacion, dtype: int64

d_lugar_ocur

88    586793
4      31990
0      13831
9      12126
8       6433
7       1910
5        870
6        634
1        266
2        244
3        236
Name: d_lugar_ocur, dtype: int64

d_sitio_ocur

11    291827
3     122497
1      94657
9      28467
10     27992
4      24696
12     23357
8      18499
99     13153
2       4637
5       2616
6       2144
7        791
Name: d_sitio_ocur, dtype: int64

d_grupo

2     159003
4     104843
8      62199
3      57809
7      50289
5      45092
6      32387
9      23184
27     20755
1      18564
10     14867
13     14830
14      9902
25      7667
26      6424
11      5704
18      5476
28      4082
17      3834
12      2311
16      2181
23      1235
19       846
34       540
15       287
22       268
33       259
21       246
30       135
29        75
20        15
31         9
32         9
24         6
Name: d_grupo, dtype: int64

d_clave

6465    3643
6561    3643
6749    3643
6467    3643
6479    3643
        ...
6417    3638
6469    3638
6697    3637
6487    3637
6493    3636
Name: d_clave, Length: 180, dtype: int64

d_escolarida

3     174949
1     129958
4     122002
6      60731
9      42743
8      33990
88     29589
99     28534
5      17131
7      12056
10      2555
2       1095
Name: d_escolarida, dtype: int64

Una de las primeras que vemos que tiene errores más notorios es "v_sexo", entonces comenzamos con la limpieza de esta variable y además es una de las que necesitamos para el analisis inicial.

In [39]:
sexo

   CVE               DESCRIP
0    1               Hombres
1    2               Mujeres
2    9  Sexo no especificado

In [40]:
df['d_sexo'].value_counts()

1                                       307728
2                                       249075
1                                        55826
2                                        42376
9                                          253
9                                           65
Sistema Tecnológico de Jalisco, A.C.         2
MARICELA  LOPEZ CEPEDA\n                     2
Molina Pasquel Y Henriquez                   2
SFERP S.C.                                   2
Name: d_sexo, dtype: int64

In [41]:
df['d_sexo'] = df['d_sexo'].astype('str')

In [42]:
df['d_sexo'].value_counts()

1                                       363554
2                                       291451
9                                          318
nan                                          2
Sistema Tecnológico de Jalisco, A.C.         2
MARICELA  LOPEZ CEPEDA\n                     2
Molina Pasquel Y Henriquez                   2
SFERP S.C.                                   2
Name: d_sexo, dtype: int64

In [43]:
df[~df['d_sexo'].map(lambda x: x.isdigit())]

,d_edad,d_minutos,c_monto_de_apoyo,d_horas,d_ent_regis,d_mun_regis,d_ent_resid,d_mun_resid,d_mun_ocurr,d_sexo,d_ocupacion,d_lugar_ocur,d_sitio_ocur,nacionalid,d_grupo,d_clave,d_escolarida,t_fecha_nac,t_fecha_ocurr,s_programa_fondo,s_nombre_del_proyecto,s_nombre_del_beneficiario,c_salario
0,4069,27,NaN,16,1.0,1,1,1,1,nan,11,88,3,1,7,6343,1,1946-06-30,2015-05-25,programa jalisciense de fomento a la propiedad...,mx sistema mecatronico para el control de inve...,ricardo mercado cortes,2700
3,4047,58,"Sistema Tecnológico de Jalisco, A.C.",3,NaN,1,1,1,1,"Sistema Tecnológico de Jalisco, A.C.",7,88,9,1,13,6346,6,1967-08-28,2015-01-03,programa jalisciense de fomento a la propiedad...,mx pasta biodegradable para usos multiples,corporativo boro s a de c v,5800
23,4054,20,MARICELA LOPEZ CEPEDA\n,9,1.0,7,1,7,7,MARICELA LOPEZ CEPEDA\n,7,88,11,1,10,6475,4,1961-08-26,2015-02-15,programa jalisciense de fomento a la propiedad...,mx metodo para la deshidratacion de sustancias...,katia saucedo fernandez,2000
33,4071,55,Molina Pasquel Y Henriquez,9,NaN,1,1,1,1,Molina Pasquel Y Henriquez,11,88,3,1,2,6488,6,1943-08-03,2015-01-28,programa jalisciense de fomento a la propiedad...,modelo industrial de mueble,brian alejandro franco ceja,5500
56,4018,40,SFERP S.C.,19,1.0,5,1,5,1,SFERP S.C.,99,88,3,1,1,6522,1,1997-09-13,2015-11-02,programa jalisciense de fomento a la propiedad...,chumacera carcasa con toma de fuerza para moto...,francisco xavier valdes simancas,4000
1111,4001,30,MARICELA LOPEZ CEPEDA\n,18,NaN,1,1,1,1,MARICELA LOPEZ CEPEDA\n,97,0,11,1,17,6486,88,2014-08-07,2015-03-07,programa jalisciense de fomento a la propiedad...,modelo industrial de mueble,brian alejandro franco ceja,3000
2345,4088,43,NaN,6,NaN,1,1,1,1,nan,11,88,3,1,9,6367,3,1927-09-05,2015-07-03,programa jalisciense de fomento a la propiedad...,mx sistema diferencial que controla la traccio...,servando soto velasco,4300
12345,4040,5,"Sistema Tecnológico de Jalisco, A.C.",2,2.0,4,2,4,4,"Sistema Tecnológico de Jalisco, A.C.",98,9,99,1,27,6747,99,NaN,2014-06-07,programa para el fomento de recursos humanos d...,solicitud de beca para asistencia al evento si...,eduardo jacobo arroyo,500
35679,4062,0,SFERP S.C.,21,5.0,20,5,20,20,SFERP S.C.,9,88,11,1,4,6518,3,1952-04-09,2015-01-19,programa jalisciense de fomento a la propiedad...,modelo industrial de mueble,brian alejandro franco ceja,0
56322,4038,15,Molina Pasquel Y Henriquez,1,7.0,65,7,65,65,Molina Pasquel Y Henriquez,11,88,11,2,7,6453,3,1977-03-12,2015-12-22,programa jalisciense de fomento a la propiedad...,pct sistema de ensamble para muebles y estruct...,humberto gonzalez calleja,1500

In [44]:
df = df[df['d_sexo'].map(lambda x: x.isdigit())]

In [45]:
df.shape

(655323, 23)

In [46]:
df['d_sexo'].value_counts()

1    363554
2    291451
9       318
Name: d_sexo, dtype: int64

In [47]:
sexo

   CVE               DESCRIP
0    1               Hombres
1    2               Mujeres
2    9  Sexo no especificado

Nos aseguramos que ambas tablas tengan el mismo tipo de dato

In [48]:
sexo.dtypes

CVE         int64
DESCRIP    object
dtype: object

In [49]:
sexo['CVE'] = sexo['CVE'].astype('str')

In [50]:
#Función .merge() funciona como un JOIN o un BUSCARV, VLOOKUP, debemos contar con una llave entre ambas tablas

df = df.merge(sexo, right_on = 'CVE', left_on = 'd_sexo', how = 'left') #left, right, inner...

In [51]:
df.drop(columns = ['d_sexo','CVE'], inplace = True)

In [52]:
df.columns

Index(['d_edad', 'd_minutos', 'c_monto_de_apoyo', 'd_horas', 'd_ent_regis',
       'd_mun_regis', 'd_ent_resid', 'd_mun_resid', 'd_mun_ocurr',
       'd_ocupacion', 'd_lugar_ocur', 'd_sitio_ocur', 'nacionalid', 'd_grupo',
       'd_clave', 'd_escolarida', 't_fecha_nac', 't_fecha_ocurr',
       's_programa_fondo', 's_nombre_del_proyecto',
       's_nombre_del_beneficiario', 'c_salario', 'DESCRIP'],
      dtype='object')

Con esto podemos decir que la variable sexo esta estandarizada

Ahora, realizaremos la limpieza de la variable ocupación

In [53]:
ocupacion

    CVE                                            DESCRIP
0     1                   Funcionarios, directores y jefes
1     2                          Profesionistas y técnicos
2     3  Trabajadores auxiliares en actividades adminis...
3     4  Comerciantes, empleados en ventas y agentes de...
4     5  Trabajadores en servicios personales y vigilancia
5     6  Trabajadores en actividades agrícolas, ganader...
6     7                           Trabajadores artesanales
7     8  Operadores de maquinaria industrial, ensamblad...
8     9  Trabajadores en actividades elementales y de a...
9    10                                      Busca trabajo
10   11                                         No trabaja
11   97                      No aplica a menores de 5 años
12   98        Ocupaciones insuficientemente especificadas
13   99                          Ocupación no especificada

In [54]:
df['d_ocupacion'].value_counts()

11    347872
6      74536
7      39455
4      32608
97     31071
2      27385
98     27107
99     26933
9      18616
8      14350
5       9454
3       3455
1       2266
10       215
Name: d_ocupacion, dtype: int64

In [55]:
ocupacion.dtypes

CVE         int64
DESCRIP    object
dtype: object

In [56]:
df = df.merge(ocupacion,right_on = "CVE", left_on = "d_ocupacion", how = "left")

In [57]:
df.head()

,d_edad,d_minutos,c_monto_de_apoyo,d_horas,d_ent_regis,d_mun_regis,d_ent_resid,d_mun_resid,d_mun_ocurr,d_ocupacion,d_lugar_ocur,d_sitio_ocur,nacionalid,d_grupo,d_clave,d_escolarida,t_fecha_nac,t_fecha_ocurr,s_programa_fondo,s_nombre_del_proyecto,s_nombre_del_beneficiario,c_salario,DESCRIP_x,CVE,DESCRIP_y
0,4093,0,31446.48,6,NaN,1,1,1,1,6,88,11,1,8,6344,3,1921-08-25,2015-09-26,programa jalisciense de fomento a la propiedad...,pct sistema mecatronico para el control de inv...,ricardo mercado cortes,0,Hombres,6,"Trabajadores en actividades agrícolas, ganader..."
1,4092,30,65673.63,16,1.0,1,1,1,1,7,88,11,1,2,6345,3,1922-06-12,2015-12-14,programa jalisciense de fomento a la propiedad...,mx empaque conico para la conexion de manguera...,corporativo boro s a de c v,3000,Hombres,7,Trabajadores artesanales
2,4040,50,30254.04,6,1.0,1,1,1,1,11,88,1,1,7,6364,4,1974-12-17,2015-07-16,programa jalisciense de fomento a la propiedad...,dispositivo personal de comunicacion remota pa...,geraldina vega gamboa,5000,Mujeres,11,No trabaja
3,4089,30,-1570,15,1.0,1,1,1,1,11,88,11,1,5,6367,1,1926-05-04,2015-12-26,programa jalisciense de fomento a la propiedad...,mx sistema diferencial que controla la traccio...,servando soto velasco,3000,Hombres,11,No trabaja
4,4066,43,60336.83,22,1.0,1,1,1,1,11,88,3,1,6,6368,3,1949-08-25,2015-02-10,programa jalisciense de fomento a la propiedad...,mx sistema acoplador automatizado para maquina...,servando soto velasco,4300,Mujeres,11,No trabaja

In [58]:
df.drop(columns = ['d_ocupacion','CVE'], inplace = True)

In [59]:
df.rename(columns = {'DESCRIP_x':'d_sexo','DESCRIP_y':'d_ocupacion'}, inplace = True)

df = df.rename(columns = ...) #Funciona igual que el inplace True

In [60]:
df.head()

,d_edad,d_minutos,c_monto_de_apoyo,d_horas,d_ent_regis,d_mun_regis,d_ent_resid,d_mun_resid,d_mun_ocurr,d_lugar_ocur,d_sitio_ocur,nacionalid,d_grupo,d_clave,d_escolarida,t_fecha_nac,t_fecha_ocurr,s_programa_fondo,s_nombre_del_proyecto,s_nombre_del_beneficiario,c_salario,d_sexo,d_ocupacion
0,4093,0,31446.48,6,NaN,1,1,1,1,88,11,1,8,6344,3,1921-08-25,2015-09-26,programa jalisciense de fomento a la propiedad...,pct sistema mecatronico para el control de inv...,ricardo mercado cortes,0,Hombres,"Trabajadores en actividades agrícolas, ganader..."
1,4092,30,65673.63,16,1.0,1,1,1,1,88,11,1,2,6345,3,1922-06-12,2015-12-14,programa jalisciense de fomento a la propiedad...,mx empaque conico para la conexion de manguera...,corporativo boro s a de c v,3000,Hombres,Trabajadores artesanales
2,4040,50,30254.04,6,1.0,1,1,1,1,88,1,1,7,6364,4,1974-12-17,2015-07-16,programa jalisciense de fomento a la propiedad...,dispositivo personal de comunicacion remota pa...,geraldina vega gamboa,5000,Mujeres,No trabaja
3,4089,30,-1570,15,1.0,1,1,1,1,88,11,1,5,6367,1,1926-05-04,2015-12-26,programa jalisciense de fomento a la propiedad...,mx sistema diferencial que controla la traccio...,servando soto velasco,3000,Hombres,No trabaja
4,4066,43,60336.83,22,1.0,1,1,1,1,88,3,1,6,6368,3,1949-08-25,2015-02-10,programa jalisciense de fomento a la propiedad...,mx sistema acoplador automatizado para maquina...,servando soto velasco,4300,Mujeres,No trabaja

In [61]:
df['d_ocupacion'].value_counts(1)

No trabaja                                                                                  0.530841
Trabajadores en actividades agrícolas, ganaderas, forestales, caza y pesca                  0.113739
Trabajadores artesanales                                                                    0.060207
Comerciantes, empleados en ventas y agentes de ventas                                       0.049759
No aplica a menores de 5 años                                                               0.047413
Profesionistas y técnicos                                                                   0.041789
Ocupaciones insuficientemente especificadas                                                 0.041364
Ocupación no especificada                                                                   0.041099
Trabajadores en actividades elementales y de apoyo                                          0.028407
Operadores de maquinaria industrial, ensambladores, choferes y conductores de transporte    0.021898
Trabajadores en servicios personales y vigilancia                                           0.014426
Trabajadores auxiliares en actividades administrativas                                      0.005272
Funcionarios, directores y jefes                                                            0.003458
Busca trabajo                                                                               0.000328
Name: d_ocupacion, dtype: float64

In [62]:
df['d_ocupacion'] = df['d_ocupacion'].replace({"Busca trabajo":"No trabaja"})

In [63]:
df['d_ocupacion'].value_counts(1)

No trabaja                                                                                  0.531169
Trabajadores en actividades agrícolas, ganaderas, forestales, caza y pesca                  0.113739
Trabajadores artesanales                                                                    0.060207
Comerciantes, empleados en ventas y agentes de ventas                                       0.049759
No aplica a menores de 5 años                                                               0.047413
Profesionistas y técnicos                                                                   0.041789
Ocupaciones insuficientemente especificadas                                                 0.041364
Ocupación no especificada                                                                   0.041099
Trabajadores en actividades elementales y de apoyo                                          0.028407
Operadores de maquinaria industrial, ensambladores, choferes y conductores de transporte    0.021898
Trabajadores en servicios personales y vigilancia                                           0.014426
Trabajadores auxiliares en actividades administrativas                                      0.005272
Funcionarios, directores y jefes                                                            0.003458
Name: d_ocupacion, dtype: float64

Supongamos que nos dicen que los ultimos 3 valores menos comunes, llevarlos a una nueva variable llamada "Otros"

In [66]:
list(df['d_ocupacion'].value_counts(1)[-3:].index)

['Trabajadores en servicios personales y vigilancia',
 'Trabajadores auxiliares en actividades administrativas',
 'Funcionarios, directores y jefes']

In [67]:
dictio = dict(zip(list(df['d_ocupacion'].value_counts(1)[-3:].index),["Otros"]*3))

In [68]:
dictio

{'Trabajadores en servicios personales y vigilancia': 'Otros',
 'Trabajadores auxiliares en actividades administrativas': 'Otros',
 'Funcionarios, directores y jefes': 'Otros'}

In [69]:
df['d_ocupacion'] = df['d_ocupacion'].replace(dictio)

In [70]:
df['d_ocupacion'].value_counts()

No trabaja                                                                                  348087
Trabajadores en actividades agrícolas, ganaderas, forestales, caza y pesca                   74536
Trabajadores artesanales                                                                     39455
Comerciantes, empleados en ventas y agentes de ventas                                        32608
No aplica a menores de 5 años                                                                31071
Profesionistas y técnicos                                                                    27385
Ocupaciones insuficientemente especificadas                                                  27107
Ocupación no especificada                                                                    26933
Trabajadores en actividades elementales y de apoyo                                           18616
Otros                                                                                        15175
Operadores de maquinaria industrial, ensambladores, choferes y conductores de transporte     14350
Name: d_ocupacion, dtype: int64

Variable escolaridad

In [72]:
df['d_escolarida'].value_counts()

3     174946
1     129956
4     122001
6      60729
9      42743
8      33990
88     29588
99     28533
5      17131
7      12056
10      2555
2       1095
Name: d_escolarida, dtype: int64

In [73]:
escolaridad

    CVE                                 DESCRIP
0     1                         Sin escolaridad
1     2                              Preescolar
2     3                     Primaria incompleta
3     4                       Primaria completa
4     5                   Secundaria incompleta
5     6                     Secundaria completa
6     7  Bachillerato o Preparatoria incompleto
7     8    Bachillerato o Preparatoria completo
8     9                             Profesional
9    10                                Posgrado
10   88           No aplica a menores de 3 años
11   99                         No especificado

In [74]:
escolaridad.dtypes

CVE         int64
DESCRIP    object
dtype: object

In [75]:
df = df.merge(escolaridad, right_on = "CVE", left_on = "d_escolarida", how = "left")
# escolaridad.merge(df, right_on = "CVE", left_on = "d_escolarida", how = "right")

df.drop(columns = ["d_escolarida","CVE"], inplace = True)
df.rename(columns = {'DESCRIP': 'd_escolarida'}, inplace = True)

df.head()

In [77]:
df['d_escolarida'].value_counts(1)

Primaria incompleta                       0.266961
Sin escolaridad                           0.198308
Primaria completa                         0.186169
Secundaria completa                       0.092670
Profesional                               0.065224
Bachillerato o Preparatoria completo      0.051868
No aplica a menores de 3 años             0.045150
No especificado                           0.043540
Secundaria incompleta                     0.026141
Bachillerato o Preparatoria incompleto    0.018397
Posgrado                                  0.003899
Preescolar                                0.001671
Name: d_escolarida, dtype: float64

In [82]:
dictio_escolaridad = dict(zip(list(df['d_escolarida'].value_counts(1)[-2:].index), ['Otros']*2))

In [83]:
dictio_escolaridad

{'Posgrado': 'Otros', 'Preescolar': 'Otros'}

In [84]:
df['d_escolarida'].replace(dictio_escolaridad).value_counts(1)

Primaria incompleta                       0.266961
Sin escolaridad                           0.198308
Primaria completa                         0.186169
Secundaria completa                       0.092670
Profesional                               0.065224
Bachillerato o Preparatoria completo      0.051868
No aplica a menores de 3 años             0.045150
No especificado                           0.043540
Secundaria incompleta                     0.026141
Bachillerato o Preparatoria incompleto    0.018397
Otros                                     0.005570
Name: d_escolarida, dtype: float64

In [85]:
df['d_escolarida'] = df['d_escolarida'].replace(dictio_escolaridad)

Variables Continuas

In [86]:
df.filter(like = 'c_')

       c_monto_de_apoyo  c_salario
0              31446.48          0
1              65673.63       3000
2              30254.04       5000
3                 -1570       3000
4              60336.83       4300
...                 ...        ...
655318         157140.0       2000
655319         410819.0       2000
655320         500000.0          0
655321         149000.0       1000
655322         150241.0       4000

[655323 rows x 2 columns]

In [88]:
df.dtypes

d_edad                         int64
d_minutos                      int64
c_monto_de_apoyo              object
d_horas                        int64
d_ent_regis                  float64
d_mun_regis                    int64
d_ent_resid                    int64
d_mun_resid                    int64
d_mun_ocurr                    int64
d_lugar_ocur                   int64
d_sitio_ocur                   int64
nacionalid                     int64
d_grupo                        int64
d_clave                        int64
t_fecha_nac                   object
t_fecha_ocurr                 object
s_programa_fondo              object
s_nombre_del_proyecto         object
s_nombre_del_beneficiario     object
c_salario                      int64
d_sexo                        object
d_ocupacion                   object
d_escolarida                  object
dtype: object

In [91]:
df['c_monto_de_apoyo'] = df['c_monto_de_apoyo'].astype(float)

In [92]:
df.filter(like = 'c_').describe()

       c_monto_de_apoyo      c_salario
count      6.553230e+05  655323.000000
mean       2.762793e+05    2161.162358
std        6.719619e+05    1988.346914
min       -1.570000e+03   -9900.000000
25%        3.025404e+04       0.000000
50%        5.033683e+04    2000.000000
75%        1.200000e+05    3500.000000
max        5.000000e+06    9900.000000

In [94]:
# Encontrar cuantos valores son menores a 0

df[df['c_salario'].map(lambda x: x<0)].shape[0] / df.shape[0]

0.005414124027388021

In [95]:
df = df[df['c_salario'].map(lambda x:x>=0)]

In [96]:
df.reset_index(drop = True, inplace = True)

In [97]:
df.filter(like = 'c_').describe()

       c_monto_de_apoyo      c_salario
count      6.517750e+05  651775.000000
mean       2.762680e+05    2189.909401
std        6.719221e+05    1951.275682
min       -1.570000e+03       0.000000
25%        3.025404e+04       0.000000
50%        5.033683e+04    2000.000000
75%        1.485660e+05    3500.000000
max        5.000000e+06    9900.000000

Variable Edad

In [98]:
df['d_edad'].value_counts()

4084    14812
4079    14692
4085    14437
4080    14311
4081    13968
        ...
4117        2
4119        2
3098        1
2098        1
4116        1
Name: d_edad, Length: 187, dtype: int64

In [100]:
edad[edad['CVE'] == 4084]

      CVE                          DESCRIP
150  4084  Ochenta y cuatro años

In [101]:
df[df['d_edad'].map(lambda x: str(x).startswith("4"))].shape[0] / df.shape[0]

0.9602991830002685

In [ ]:
# df.merge(edad,right_on = "CVE", left_on = "d_edad", how = 'left')

In [102]:
df = df[df['d_edad'].map(lambda x: str(x).startswith("4"))]

In [104]:
df['d_edad'] = df['d_edad'].astype(str).str[-3:].astype(int)

In [105]:
df['d_edad'].unique()

array([ 93,  92,  40,  89,  66,  67,  44,  21,  49,  47,  60,  20,  74,
        70,  51,  59,   1,   4,  83,  87,  56,  35,  77,  80,  82,  62,
        45,  90,  61, 104,  78,  19,  85,  71,  54,  84,  73,  68,  17,
        65,  18,  63,  76,  97,  55,  52, 103,  88,  23,  69,  46,  15,
        32,  43,  39,  16,  29,  28,  14,  50,  37,  72,  24,  25,  31,
        75,  48,  34,  53,  27,  13,  38,  86,   7,  81,  30,  94,  42,
         2,  33,  91, 998,  79,  57,  95,  96,  41,  10,  58,  22,  11,
         9,  36,  64, 107,  98, 105,  26, 102,   5,   8, 101,   3,   6,
       100,  12,  99, 109, 106, 112, 110, 114, 108, 115, 111, 113, 120,
       117, 116, 119])

In [106]:
df = df[df['d_edad'] != 998]

In [107]:
df['d_edad'].unique()

array([ 93,  92,  40,  89,  66,  67,  44,  21,  49,  47,  60,  20,  74,
        70,  51,  59,   1,   4,  83,  87,  56,  35,  77,  80,  82,  62,
        45,  90,  61, 104,  78,  19,  85,  71,  54,  84,  73,  68,  17,
        65,  18,  63,  76,  97,  55,  52, 103,  88,  23,  69,  46,  15,
        32,  43,  39,  16,  29,  28,  14,  50,  37,  72,  24,  25,  31,
        75,  48,  34,  53,  27,  13,  38,  86,   7,  81,  30,  94,  42,
         2,  33,  91,  79,  57,  95,  96,  41,  10,  58,  22,  11,   9,
        36,  64, 107,  98, 105,  26, 102,   5,   8, 101,   3,   6, 100,
        12,  99, 109, 106, 112, 110, 114, 108, 115, 111, 113, 120, 117,
       116, 119])

In [108]:
df['d_edad'].value_counts()

84     14812
79     14692
85     14437
80     14311
81     13968
       ...
115        3
120        2
117        2
119        2
116        1
Name: d_edad, Length: 119, dtype: int64

Variable horas y minutos: Tipo de dato correcto

In [109]:
df['d_horas'].value_counts()

18    28440
11    27857
17    27813
16    27686
10    27682
6     27433
12    27426
13    27364
15    27284
14    26870
20    26583
19    26396
9     25642
5     25154
7     25038
8     24749
23    24642
1     24001
22    23910
21    23824
0     23115
4     23061
3     22507
2     21787
99     6692
Name: d_horas, dtype: int64

In [110]:
df['d_horas'] = df['d_horas'].astype(int)

In [111]:
df[df["d_horas"].map(lambda x:x>24)].shape[0] / df.shape[0]

0.010742331721662526

In [112]:
df = df[df["d_horas"].map(lambda x:x<=24)].reset_index(drop = True)

In [113]:
df[df["d_horas"].map(lambda x:x>24)].shape[0] / df.shape[0]

0.0

In [114]:
df['d_horas'].value_counts()

18    28440
11    27857
17    27813
16    27686
10    27682
6     27433
12    27426
13    27364
15    27284
14    26870
20    26583
19    26396
9     25642
5     25154
7     25038
8     24749
23    24642
1     24001
22    23910
21    23824
0     23115
4     23061
3     22507
2     21787
Name: d_horas, dtype: int64

In [116]:
df[df["d_minutos"].map(lambda x:x>60)].shape[0] / df.shape[0]

0.0

Variables de tiempo (datetime)

In [117]:
df.dtypes

d_edad                         int64
d_minutos                      int64
c_monto_de_apoyo             float64
d_horas                        int64
d_ent_regis                  float64
d_mun_regis                    int64
d_ent_resid                    int64
d_mun_resid                    int64
d_mun_ocurr                    int64
d_lugar_ocur                   int64
d_sitio_ocur                   int64
nacionalid                     int64
d_grupo                        int64
d_clave                        int64
t_fecha_nac                   object
t_fecha_ocurr                 object
s_programa_fondo              object
s_nombre_del_proyecto         object
s_nombre_del_beneficiario     object
c_salario                      int64
d_sexo                        object
d_ocupacion                   object
d_escolarida                  object
dtype: object

In [118]:
df["t_fecha_nac"] = pd.to_datetime(df["t_fecha_nac"])

In [119]:
df["t_fecha_ocurr"] = pd.to_datetime(df["t_fecha_ocurr"])

In [121]:
df.head()

,d_edad,d_minutos,c_monto_de_apoyo,d_horas,d_ent_regis,d_mun_regis,d_ent_resid,d_mun_resid,d_mun_ocurr,d_lugar_ocur,d_sitio_ocur,nacionalid,d_grupo,d_clave,t_fecha_nac,t_fecha_ocurr,s_programa_fondo,s_nombre_del_proyecto,s_nombre_del_beneficiario,c_salario,d_sexo,d_ocupacion,d_escolarida
0,93,0,31446.48,6,NaN,1,1,1,1,88,11,1,8,6344,1921-08-25,2015-09-26,programa jalisciense de fomento a la propiedad...,pct sistema mecatronico para el control de inv...,ricardo mercado cortes,0,Hombres,"Trabajadores en actividades agrícolas, ganader...",Primaria incompleta
1,92,30,65673.63,16,1.0,1,1,1,1,88,11,1,2,6345,1922-06-12,2015-12-14,programa jalisciense de fomento a la propiedad...,mx empaque conico para la conexion de manguera...,corporativo boro s a de c v,3000,Hombres,Trabajadores artesanales,Primaria incompleta
2,40,50,30254.04,6,1.0,1,1,1,1,88,1,1,7,6364,1974-12-17,2015-07-16,programa jalisciense de fomento a la propiedad...,dispositivo personal de comunicacion remota pa...,geraldina vega gamboa,5000,Mujeres,No trabaja,Primaria completa
3,89,30,-1570.00,15,1.0,1,1,1,1,88,11,1,5,6367,1926-05-04,2015-12-26,programa jalisciense de fomento a la propiedad...,mx sistema diferencial que controla la traccio...,servando soto velasco,3000,Hombres,No trabaja,Sin escolaridad
4,66,43,60336.83,22,1.0,1,1,1,1,88,3,1,6,6368,1949-08-25,2015-02-10,programa jalisciense de fomento a la propiedad...,mx sistema acoplador automatizado para maquina...,servando soto velasco,4300,Mujeres,No trabaja,Primaria incompleta

In [122]:
df['t_fecha_ocurr'].map(lambda x:x.year).value_counts()

2015    602921
2014     11850
2013       480
2012       270
2011       184
2010       124
2009       112
2008        66
2007        65
2005        45
2006        40
2002        33
2003        30
2004        25
2001        19
Name: t_fecha_ocurr, dtype: int64

In [123]:
df[df['t_fecha_nac'] > df['t_fecha_ocurr']] #Comprobamos que estas variables estan correctas

Empty DataFrame
Columns: [d_edad, d_minutos, c_monto_de_apoyo, d_horas, d_ent_regis, d_mun_regis, d_ent_resid, d_mun_resid, d_mun_ocurr, d_lugar_ocur, d_sitio_ocur, nacionalid, d_grupo, d_clave, t_fecha_nac, t_fecha_ocurr, s_programa_fondo, s_nombre_del_proyecto, s_nombre_del_beneficiario, c_salario, d_sexo, d_ocupacion, d_escolarida]
Index: []

In [124]:
df

,d_edad,d_minutos,c_monto_de_apoyo,d_horas,d_ent_regis,d_mun_regis,d_ent_resid,d_mun_resid,d_mun_ocurr,d_lugar_ocur,d_sitio_ocur,nacionalid,d_grupo,d_clave,t_fecha_nac,t_fecha_ocurr,s_programa_fondo,s_nombre_del_proyecto,s_nombre_del_beneficiario,c_salario,d_sexo,d_ocupacion,d_escolarida
0,93,0,31446.48,6,NaN,1,1,1,1,88,11,1,8,6344,1921-08-25,2015-09-26,programa jalisciense de fomento a la propiedad...,pct sistema mecatronico para el control de inv...,ricardo mercado cortes,0,Hombres,"Trabajadores en actividades agrícolas, ganader...",Primaria incompleta
1,92,30,65673.63,16,1.0,1,1,1,1,88,11,1,2,6345,1922-06-12,2015-12-14,programa jalisciense de fomento a la propiedad...,mx empaque conico para la conexion de manguera...,corporativo boro s a de c v,3000,Hombres,Trabajadores artesanales,Primaria incompleta
2,40,50,30254.04,6,1.0,1,1,1,1,88,1,1,7,6364,1974-12-17,2015-07-16,programa jalisciense de fomento a la propiedad...,dispositivo personal de comunicacion remota pa...,geraldina vega gamboa,5000,Mujeres,No trabaja,Primaria completa
3,89,30,-1570.00,15,1.0,1,1,1,1,88,11,1,5,6367,1926-05-04,2015-12-26,programa jalisciense de fomento a la propiedad...,mx sistema diferencial que controla la traccio...,servando soto velasco,3000,Hombres,No trabaja,Sin escolaridad
4,66,43,60336.83,22,1.0,1,1,1,1,88,3,1,6,6368,1949-08-25,2015-02-10,programa jalisciense de fomento a la propiedad...,mx sistema acoplador automatizado para maquina...,servando soto velasco,4300,Mujeres,No trabaja,Primaria incompleta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616259,69,50,484748.00,16,32.0,21,32,21,21,9,10,1,17,6473,1946-07-01,2015-05-09,programa de desarrollo de prototipos 2018,agron dispositivo para medir la salud del suel...,im master capital s a p i s a de c v,5000,Hombres,No trabaja,Primaria incompleta
616260,32,30,491058.00,4,NaN,39,32,39,39,4,10,1,27,6634,1983-04-20,2015-07-17,programa de desarrollo de prototipos 2018,prototipo tecnologico de juguete interactivo p...,cclp s a de c v,3000,Hombres,Otros,Primaria completa
616261,43,20,157140.00,0,32.0,56,32,999,56,88,3,2,8,6683,1972-07-01,2015-10-28,programa de desarrollo de prototipos 2018,dispositivo de prototipo de gravedad cero para...,compania power tools s a de c v,2000,Mujeres,No trabaja,Primaria completa
616262,3,10,149000.00,22,NaN,10,32,49,10,88,1,1,9,6691,2012-11-22,2015-12-08,programa de desarrollo de prototipos 2018,maquina tribologica para medir el desgaste en ...,universidad de guadalajara,1000,Mujeres,No aplica a menores de 5 años,No especificado
616263,1,40,150241.00,13,32.0,40,19,6,7,0,10,1,5,6696,2014-10-24,2015-06-04,programa de desarrollo de prototipos 2018,interfaz usb aislada para conexion de instrume...,consire s a de c v,4000,Mujeres,No aplica a menores de 5 años,No aplica a menores de 3 años

Para resolver el problema: GROUP BY

In [128]:
df[['d_escolarida','d_sexo','d_edad']]

                         d_escolarida   d_sexo  d_edad
0                 Primaria incompleta  Hombres      93
1                 Primaria incompleta  Hombres      92
2                   Primaria completa  Mujeres      40
3                     Sin escolaridad  Hombres      89
4                 Primaria incompleta  Mujeres      66
...                               ...      ...     ...
616259            Primaria incompleta  Hombres      69
616260              Primaria completa  Hombres      32
616261              Primaria completa  Mujeres      43
616262                No especificado  Mujeres       3
616263  No aplica a menores de 3 años  Mujeres       1

[616264 rows x 3 columns]

In [127]:
df[['d_escolarida','d_sexo','d_edad']].groupby(['d_escolarida','d_sexo']).agg(["min","max","count","mean"])

                                                            d_edad       \
                                                               min  max
d_escolarida                           d_sexo
Bachillerato o Preparatoria completo   Hombres                  17  106
                                       Mujeres                  17  110
Bachillerato o Preparatoria incompleto Hombres                  15  109
                                       Mujeres                  15  104
No aplica a menores de 3 años          Hombres                   1    2
                                       Mujeres                   1    2
No especificado                        Hombres                   3  119
                                       Mujeres                   3  110
                                       Sexo no especificado     20   98
Otros                                  Hombres                   3  100
                                       Mujeres                   3  105
Primaria completa                      Hombres                  11  112
                                       Mujeres                  11  110
Primaria incompleta                    Hombres                   6  114
                                       Mujeres                   6  111
                                       Sexo no especificado     94   94
Profesional                            Hombres                  18  106
                                       Mujeres                  18  109
                                       Sexo no especificado     92   92
Secundaria completa                    Hombres                  14  103
                                       Mujeres                  14  110
Secundaria incompleta                  Hombres                  12  106
                                       Mujeres                  12  109
Sin escolaridad                        Hombres                   3  117
                                       Mujeres                   3  120


                                                             count       mean
d_escolarida                           d_sexo
Bachillerato o Preparatoria completo   Hombres               20322  52.478152
                                       Mujeres               12919  59.319297
Bachillerato o Preparatoria incompleto Hombres                8275  44.283384
                                       Mujeres                3364  46.375149
No aplica a menores de 3 años          Hombres                1887   1.367780
                                       Mujeres                1574   1.335451
No especificado                        Hombres               15535  58.426971
                                       Mujeres                9361  67.946053
                                       Sexo no especificado     17  49.647059
Otros                                  Hombres                2422  55.423617
                                       Mujeres                1140  46.070175
Primaria completa                      Hombres               65653  63.250377
                                       Mujeres               54313  69.410786
Primaria incompleta                    Hombres               93139  70.742847
                                       Mujeres               79811  73.721680
                                       Sexo no especificado      1  94.000000
Profesional                            Hombres               27695  61.380791
                                       Mujeres               14327  62.770503
                                       Sexo no especificado      1  92.000000
Secundaria completa                    Hombres               37240  50.490011
                                       Mujeres               21864  57.843121
Secundaria incompleta                  Hombres               11642  47.287923
                                       Mujeres                4997  51.638983
Sin escolaridad                        Hombres               55626  74.052242
                                       Mujeres               73139  77.503138

In [130]:
exportar = df[['d_escolarida','d_sexo','d_edad']].groupby(['d_escolarida','d_sexo']).agg(["min","max","count","mean"]).reset_index()
exportar

                              d_escolarida                d_sexo d_edad       \
                                                                    min  max
0     Bachillerato o Preparatoria completo               Hombres     17  106
1     Bachillerato o Preparatoria completo               Mujeres     17  110
2   Bachillerato o Preparatoria incompleto               Hombres     15  109
3   Bachillerato o Preparatoria incompleto               Mujeres     15  104
4            No aplica a menores de 3 años               Hombres      1    2
5            No aplica a menores de 3 años               Mujeres      1    2
6                          No especificado               Hombres      3  119
7                          No especificado               Mujeres      3  110
8                          No especificado  Sexo no especificado     20   98
9                                    Otros               Hombres      3  100
10                                   Otros               Mujeres      3  105
11                       Primaria completa               Hombres     11  112
12                       Primaria completa               Mujeres     11  110
13                     Primaria incompleta               Hombres      6  114
14                     Primaria incompleta               Mujeres      6  111
15                     Primaria incompleta  Sexo no especificado     94   94
16                             Profesional               Hombres     18  106
17                             Profesional               Mujeres     18  109
18                             Profesional  Sexo no especificado     92   92
19                     Secundaria completa               Hombres     14  103
20                     Secundaria completa               Mujeres     14  110
21                   Secundaria incompleta               Hombres     12  106
22                   Secundaria incompleta               Mujeres     12  109
23                         Sin escolaridad               Hombres      3  117
24                         Sin escolaridad               Mujeres      3  120


    count       mean
0   20322  52.478152
1   12919  59.319297
2    8275  44.283384
3    3364  46.375149
4    1887   1.367780
5    1574   1.335451
6   15535  58.426971
7    9361  67.946053
8      17  49.647059
9    2422  55.423617
10   1140  46.070175
11  65653  63.250377
12  54313  69.410786
13  93139  70.742847
14  79811  73.721680
15      1  94.000000
16  27695  61.380791
17  14327  62.770503
18      1  92.000000
19  37240  50.490011
20  21864  57.843121
21  11642  47.287923
22   4997  51.638983
23  55626  74.052242
24  73139  77.503138

In [133]:
exportar.to_excel("Metricas_Calidad_de_datos.xlsx")

Listo! :)