In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
 population_dict = {'California': 39538223, 'Texas': 29145505,
 'Florida': 21538187, 'New York': 20201249,
 'Pennsylvania': 13002700}
 population = pd.Series(population_dict)
 population

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [4]:
population['California']

np.int64(39538223)

In [6]:
population['California':'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

In [10]:
screen = pd.read_csv(r'C:\Users\Usuario\Downloads\screentime.csv')

In [11]:
screen

,user_id,age,gender,occupation,work_mode,screen_time_hours,work_screen_hours,leisure_screen_hours,sleep_hours,sleep_quality_1_5,stress_level_0_10,productivity_0_100,exercise_minutes_per_week,social_hours_per_week,mental_wellness_index_0_100,Unnamed: 15
0,U0001,33,Female,Employed,Remote,10.79,5.44,5.35,6.63,1,9.3,44.7,127,0.7,9.3,NaN
1,U0002,28,Female,Employed,In-person,7.40,0.37,7.03,8.05,3,5.7,78.0,74,2.1,56.2,NaN
2,U0003,35,Female,Employed,Hybrid,9.78,1.09,8.69,6.48,1,9.1,51.8,67,8.0,3.6,NaN
3,U0004,42,Male,Employed,Hybrid,11.13,0.56,10.57,6.89,1,10.0,37.0,0,5.7,0.0,NaN
4,U0005,28,Male,Student,Remote,13.22,4.09,9.13,5.79,1,10.0,38.5,143,10.1,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,U0396,26,Female,Student,Remote,6.43,2.99,3.44,7.75,1,5.9,64.6,252,7.6,39.3,NaN
396,U0397,16,Male,Self-employed,Remote,9.59,5.44,4.15,5.57,1,10.0,47.4,99,7.0,3.5,NaN
397,U0398,40,Male,Student,Remote,8.72,2.36,6.36,7.56,1,9.4,57.3,193,10.1,6.6,NaN
398,U0399,29,Female,Retired,Hybrid,5.04,0.94,4.10,7.32,1,7.1,63.6,97,12.1,21.0,NaN
399,U0400,39,Female,Employed,Remote,8.86,3.82,5.04,6.55,1,10.0,41.4,88,9.8,8.4,NaN

In [12]:
c_feats = []
d_feats = ["age", "sleep_quality_1_5", "exercise_minutes_per_week" ]
t_feats = ["fecha_nac",'fecha_ocurr']
s_feats = ["gender", "ocupation", "work_mode"]

c_feats_new = ["c_" + x for x in c_feats]
d_feats_new = ["d_" + x for x in d_feats]
t_feats_new = ["t_" + x for x in t_feats]
s_feats_new = ["s_" + x for x in s_feats]